﻿@model IEnumerable<SocialStrata.Models.User>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Photo)
		</th>
		<th>
			Name
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		<th>
			Age
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@if (item.Photo != null)
				{
					<img src="@item.Photo" width="100">
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@{ var age = (DateTime.Now - item.DateOfBirth).Days / 365;}
				@age
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
					}

</table>
