﻿@model SocialStrata.Models.Building

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Building</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.DateOfConstruction, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.DateOfConstruction, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.DateOfConstruction, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Amenities</label>
			<div class="col-md-10">
				<div id="amenity-container"></div>
				<input type="button" value="Add Amenity" class="btn btn-success" onclick="addAmenity()" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Towers</label>
			<div class="col-md-10">
				<div id="tower-container"></div>
				<input type="button" value="Add Tower" class="btn btn-success" onclick="addTower()"/>
			</div>
		</div>

		<script id="amenity-template" type="text/x-template">
			<div>
				<div class="form-group">
					<label class="control-label col-md-2" for="amenity-name-{{c}}">Name</label>
					<div class="col-md-8">
						<input type="text" id="amenity-name-{{c}}" name="amenity-name-{{c}}" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="amenity-photo-{{c}}">Photo</label>
					<div class="col-md-2">
						<input type="file" id="amenity-photo-{{c}}" name="amenity-photo-{{c}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="amenity-schedulable-{{c}}">Schedulable</label>
					<div class="col-md-2">
						<input type="checkbox" id="amenity-schedulable-{{c}}" name="amenity-schedulable-{{c}}" class="checkbox">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2"></label>
					<input type="button" value="Remove Amenity" class="btn btn-danger" onclick="$(this).parent().parent().remove()" />
				</div>
				<hr />
			</div>
		</script>

		<script id="tower-template" type="text/x-template">
			<div>
				<div class="form-group">
					<label class="control-label col-md-2" for="tower-name-{{c}}">Name</label>
					<div class="col-md-8">
						<input type="text" id="tower-name-{{c}}" name="tower-name-{{c}}" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="tower-floor-count-{{c}}">Floors</label>
					<div class="col-md-2">
						<input type="text" id="tower-floor-count-{{c}}" name="tower-floor-count-{{c}}"  class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2" for="tower-apartment-count-{{c}}">Units (per floor)</label>
					<div class="col-md-2">
						<input type="text" id="tower-apartment-count-{{c}}" name="tower-apartment-count-{{c}}"  class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2"></label>
					<input type="button" value="Remove Tower" class="btn btn-danger" onclick="$(this).parent().parent().remove()"/>
				</div>
				<hr />
			</div>
		</script>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default " />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/buildings.js")
}
