﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Social Strata", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li>@Html.ActionLink("Users", "Index", "Users", new { area = "" }, null)</li>
					<li>@Html.ActionLink("Countries", "Index", "Countries", new {area = ""}, null)</li>
	                <li>@Html.ActionLink("Buildings", "Index", "Buildings", new {area = ""}, null)</li>
	                <li>@Html.ActionLink("Public Space Booking", "Index", "AmenitySchedules", new {area = ""}, null)</li>
	                <li>@Html.ActionLink("Notice Board", "Index", "NoticeBoards", new {area = ""}, null)</li>
	                <li>@Html.ActionLink("Lost and Found", "Index", "LostAndFounds", new {area = ""}, null)</li>
					<li>@Html.ActionLink("Project Proposals", "Index", "ProjectProposals", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
